{% extends 'app/base.html' %}

{% block content %}

<div>
    <a href="{% url 'app:index' %}">ホームに戻る</a>
</div>

<form action="{% url 'app:files_new' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
        <tr>
            <th>タイトル</th>
            <td>{{ form.title }}</td>
        </tr>
        <tr>
            <th>コメント</th>
            <td>{{ form.comment }}</td>
        </tr>
        <tr>
            <th>ファイル</th>
            <td>{{ form.file }}</td>
        </tr>
    </table>
    <button type="submit" class="btn">保存</button>
</form>

{% endblock %}